.calendar-component {
  display: block;
  margin: 0 auto;
  width: 95%;
}

.rbc-toolbar-label {
  font-weight: bold;
  font-size: 20px;
}
.rbc-event {
  background-color: tomato;
}
.rbc-event-content {
  display: none;
}