input[type=text] {
  height: 60px;
  width: 250%;
  padding: 12px 20px;
  margin-left: 8px;
  margin-top: 4.5px;
  font-size: 16px;
  box-sizing: border-box;
  border: 3px solid #CCC;
  border-radius: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}