.landing-page {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
h1 {
  text-align: center;
  font-size: 48px;
}
p {
  margin: 0 auto;
  text-align: center;
}
.splash {
  margin: 40px auto 15px auto;
  display: block;
  background-color: darkgray;
  height: 500px;
  width: 60%;
}
.authorize-button {
  /* margin: 0 auto; */
  background-color: white;
  border: 2px solid navy;
  border-radius: 7px;
  color: navy;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
.alt-setup {
  background-color: white;
  color: #555;
  margin: 10px auto 0 auto;
  display: block;
  text-align: center;
  border: none;
  cursor: pointer;
}